<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Teta</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel='stylesheet' type='text/css' media='screen' href='cssfiles/{{cssfile}}'>
    <link rel='stylesheet' type='text/css' media='screen' href='cssfiles/main.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src=jsfiles/{{jsfile}}></script>
</head>

<body>
    <div class="col flex-fill">
        <div class="row text-center flex-fill">
            {{#unless logged}}
                <div class="row flex-fill">
                    <a href="/home" class="flex-fill">
                    <button class="btn btn-primary">Home</button>
                    </a>
                </div>
            {{/unless}}
            {{#if logged}}
                <div class="row flex-fill">
                    <a href="/message" class="flex-fill">
                        <button class="btn btn-primary">Messages</button>
                    </a>
                </div>
            {{/if}}
            {{#if logged}}
                <div class="row flex-fill">
                    <a href="/profile" class="flex-fill">
                        <button class="btn btn-primary">Profile</button>
                    </a>
                </div>
            {{/if}}
            {{#if logged}}
                <div class="row flex-fill">
                    <a href="/settings" class="flex-fill">
                        <button class="btn btn-primary">Settings</button>
                    </a>
                </div>
            {{/if}}
            {{#if logged}}
                <div class="row flex-fill">
                    <a href="/logout?to=login" class="flex-fill">
                        <button class="btn btn-primary">Sign Out</button>
                    </a>
                </div>
            {{/if}}
            <div class="row flex-fill">
                <a href="/login" class="flex-fill">
                    <button class="btn btn-primary">Log In</button>
                </a>
            </div>
            <div class="row flex-fill">
                <a href="/signup" class="flex-fill">
                    <button class="btn btn-primary">Sign Up</button>
                </a>
            </div>
            <div class="row flex-fill">
                <form action="/search" method="GET" class="row text-center flex-fill form-inline" style="padding: 0px;">
                    <input type="text" class="form-control row flex-fill" name="search_query"/>
                    <button class="btn btn-primary form-control row flex-fill" type="submit"><b>Search</b></button>
                </form>
            </div>
        </div>
        <div class="col flex-fill">
            {{{ body }}}
        </div>
        {{#if error}}
            <div class="col flex-fill bg-warning">
                <h4 class="flex-fill">
                    error
                </h4>
            </div>
        {{/if}}
    </div>
</body>

</html>